In [1]:
#Import the neccasary Libraries
import pandas as pd
import tensorflow as tf

In [2]:
airline = pd.read_excel(r'C:\Users\aksha\Downloads\2d1f59c4-36f0-46dc-a6de-334f642114c6-Airline-Satisfaction.xlsx')

In [3]:
airline.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,0
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,0
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [4]:
airline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 10000 non-null  int64
 1   Gender                             10000 non-null  object
 2   Customer Type                      10000 non-null  object
 3   Age                                10000 non-null  int64
 4   Type of Travel                     10000 non-null  object
 5   Class                              10000 non-null  object
 6   Flight Distance                    10000 non-null  int64
 7   Inflight wifi service              10000 non-null  int64
 8   Departure/Arrival time convenient  10000 non-null  int64
 9   Ease of Online booking             10000 non-null  int64
 10  Gate location                      10000 non-null  int64
 11  Food and drink                     10000 non-null  int64
 12  Online boarding                    10000 non-null  int64
 13  Seat comfort                       10000 non-null  int64
 14  Inflight entertainment             10000 non-null  int64
 15  On-board service                   10000 non-null  int64
 16  Leg room service                   10000 non-null  int64
 17  Baggage handling                   10000 non-null  int64
 18  Checkin service                    10000 non-null  int64
 19  Inflight service                   10000 non-null  int64
 20  Cleanliness                        10000 non-null  int64
 21  Departure Delay in Minutes         10000 non-null  int64
 22  Arrival Delay in Minutes           9974 non-null   float64
 23  satisfaction                       10000 non-null  int64
dtypes: float64(1), int64(19), object(4)
memory usage: 1.8+ MB

In [6]:
airline.shape

(10000, 24)

In [5]:
airline.isnull().sum()

id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             26
satisfaction                          0
dtype: int64

In [7]:
airline.dropna(inplace=True)
airline.shape

(9974, 24)

In [8]:
cat_col = ['Gender','Customer Type','Type of Travel','Class']
airline_dummy = pd.get_dummies(airline,columns=cat_col,drop_first=True)

In [9]:
airline_dummy.shape

(9974, 25)

# Splitting the data

In [12]:
Y = airline_dummy[['satisfaction']]
X = airline_dummy.drop(columns=['satisfaction'])

In [13]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

len(x_train),len(x_test),len(y_train),len(y_test)

(7979, 1995, 7979, 1995)

# Building the ANN

In [14]:
## Step 1 : Initializing the ANN

ann = tf.keras.models.Sequential()

## Step 2 : Adding the input layer and first hidden layer

ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

## Step 3: Adding the second hidden layer

ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

## Step 4: Adding the output layer
    
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

## Compiling the ANN

ann.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

## Training the ANN

ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 877us/step - loss: 14.5732 - accuracy: 0.5611
Epoch 2/100
250/250 [==============================] - 0s 869us/step - loss: 5.3368 - accuracy: 0.5610
Epoch 3/100
250/250 [==============================] - 0s 857us/step - loss: 7.9916 - accuracy: 0.5512
Epoch 4/100
250/250 [==============================] - 0s 845us/step - loss: 4.9918 - accuracy: 0.5740
Epoch 5/100
250/250 [==============================] - 0s 853us/step - loss: 6.2989 - accuracy: 0.5667
Epoch 6/100
250/250 [==============================] - 0s 865us/step - loss: 4.9245 - accuracy: 0.5798
Epoch 7/100
250/250 [==============================] - 0s 845us/step - loss: 5.6221 - accuracy: 0.5827
Epoch 8/100
250/250 [==============================] - 0s 833us/step - loss: 6.5207 - accuracy: 0.5932
Epoch 9/100
250/250 [==============================] - 0s 905us/step - loss: 4.7426 - accuracy: 0.5937
Epoch 10/100
250/250 [==============================] - 0s 873us/step - loss: 6.0755 - accuracy: 0.5829
Epoch 11/100
250/250 [==============================] - 0s 849us/step - loss: 5.0770 - accuracy: 0.5959
Epoch 12/100
250/250 [==============================] - 0s 813us/step - loss: 5.7462 - accuracy: 0.5998
Epoch 13/100
250/250 [==============================] - 0s 821us/step - loss: 5.2557 - accuracy: 0.6041
Epoch 14/100
250/250 [==============================] - 0s 833us/step - loss: 5.5893 - accuracy: 0.5947
Epoch 15/100
250/250 [==============================] - 0s 877us/step - loss: 4.3757 - accuracy: 0.6189
Epoch 16/100
250/250 [==============================] - 0s 829us/step - loss: 4.6388 - accuracy: 0.6124
Epoch 17/100
250/250 [==============================] - 0s 821us/step - loss: 5.4016 - accuracy: 0.6070
Epoch 18/100
250/250 [==============================] - 0s 829us/step - loss: 2.7927 - accuracy: 0.6637
Epoch 19/100
250/250 [==============================] - 0s 881us/step - loss: 3.8859 - accuracy: 0.6401
Epoch 20/100
250/250 [==============================] - 0s 881us/step - loss: 2.9221 - accuracy: 0.6552
Epoch 21/100
250/250 [==============================] - 0s 948us/step - loss: 4.3807 - accuracy: 0.6224
Epoch 22/100
250/250 [==============================] - 0s 953us/step - loss: 5.1757 - accuracy: 0.6060
Epoch 23/100
250/250 [==============================] - 0s 961us/step - loss: 2.8875 - accuracy: 0.6600
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 2.5234 - accuracy: 0.6833
Epoch 25/100
250/250 [==============================] - 0s 946us/step - loss: 4.7437 - accuracy: 0.6490
Epoch 26/100
250/250 [==============================] - 0s 967us/step - loss: 3.2235 - accuracy: 0.6678
Epoch 27/100
250/250 [==============================] - 0s 952us/step - loss: 6.4327 - accuracy: 0.6294
Epoch 28/100
250/250 [==============================] - 0s 993us/step - loss: 1.8652 - accuracy: 0.7025
Epoch 29/100
250/250 [==============================] - 0s 988us/step - loss: 3.1730 - accuracy: 0.6528
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 4.3264 - accuracy: 0.6511
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 3.3580 - accuracy: 0.6657
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 2.6130 - accuracy: 0.6798
Epoch 33/100
250/250 [==============================] - 0s 979us/step - loss: 2.3519 - accuracy: 0.7010
Epoch 34/100
250/250 [==============================] - 0s 960us/step - loss: 3.3111 - accuracy: 0.6611
Epoch 35/100
250/250 [==============================] - 0s 968us/step - loss: 4.0937 - accuracy: 0.6443
Epoch 36/100
250/250 [==============================] - 0s 992us/step - loss: 2.2031 - accuracy: 0.6991
Epoch 37/100
250/250 [==============================] - 0s 966us/step - loss: 2.5475 - accuracy: 0.6943
Epoch 38/100
250/250 [==============================] - 0s 964us/step - loss: 3.5797 - accuracy: 0.6704
Epoch 39/100
250/250 [==============================] - 0s 971us/step - loss: 4.1808 - accuracy: 0.6622
Epoch 40/100
250/250 [==============================] - 0s 986us/step - loss: 3.2387 - accuracy: 0.6864
Epoch 41/100
250/250 [==============================] - 0s 984us/step - loss: 2.9441 - accuracy: 0.6769
Epoch 42/100
250/250 [==============================] - 0s 963us/step - loss: 2.3874 - accuracy: 0.6901
Epoch 43/100
250/250 [==============================] - 0s 971us/step - loss: 2.6353 - accuracy: 0.6933
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 1.5811 - accuracy: 0.7328
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 1.4910 - accuracy: 0.7461
Epoch 46/100
250/250 [==============================] - 0s 957us/step - loss: 1.8332 - accuracy: 0.7150
Epoch 47/100
250/250 [==============================] - 0s 988us/step - loss: 3.6227 - accuracy: 0.6883
Epoch 48/100
250/250 [==============================] - 0s 990us/step - loss: 2.8033 - accuracy: 0.6675
Epoch 49/100
250/250 [==============================] - 0s 994us/step - loss: 3.7665 - accuracy: 0.6685
Epoch 50/100
250/250 [==============================] - 0s 955us/step - loss: 3.0765 - accuracy: 0.6963
Epoch 51/100
250/250 [==============================] - 0s 971us/step - loss: 2.0448 - accuracy: 0.7252
Epoch 52/100
250/250 [==============================] - 0s 997us/step - loss: 1.6376 - accuracy: 0.7456
Epoch 53/100
250/250 [==============================] - 0s 985us/step - loss: 2.6392 - accuracy: 0.7002
Epoch 54/100
250/250 [==============================] - 0s 943us/step - loss: 3.0634 - accuracy: 0.6908
Epoch 55/100
250/250 [==============================] - 0s 945us/step - loss: 1.6075 - accuracy: 0.7357
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 3.3031 - accuracy: 0.6832
Epoch 57/100
250/250 [==============================] - 0s 995us/step - loss: 3.1705 - accuracy: 0.7040
Epoch 58/100
250/250 [==============================] - 0s 958us/step - loss: 2.3353 - accuracy: 0.6990
Epoch 59/100
250/250 [==============================] - 0s 955us/step - loss: 2.2990 - accuracy: 0.7159
Epoch 60/100
250/250 [==============================] - 0s 998us/step - loss: 1.3514 - accuracy: 0.7656
Epoch 61/100
250/250 [==============================] - 0s 980us/step - loss: 2.6606 - accuracy: 0.7000
Epoch 62/100
250/250 [==============================] - 0s 953us/step - loss: 2.9965 - accuracy: 0.7084
Epoch 63/100
250/250 [==============================] - 0s 928us/step - loss: 2.8823 - accuracy: 0.7026
Epoch 64/100
250/250 [==============================] - 0s 958us/step - loss: 1.8396 - accuracy: 0.7368
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 2.9591 - accuracy: 0.7160
Epoch 66/100
250/250 [==============================] - 0s 949us/step - loss: 2.6051 - accuracy: 0.7130
Epoch 67/100
250/250 [==============================] - 0s 987us/step - loss: 1.9922 - accuracy: 0.7178
Epoch 68/100
250/250 [==============================] - 0s 938us/step - loss: 3.8462 - accuracy: 0.6815
Epoch 69/100
250/250 [==============================] - 0s 984us/step - loss: 2.2311 - accuracy: 0.7250
Epoch 70/100
250/250 [==============================] - 0s 940us/step - loss: 2.3287 - accuracy: 0.7200
Epoch 71/100
250/250 [==============================] - 0s 956us/step - loss: 2.6018 - accuracy: 0.7061
Epoch 72/100
250/250 [==============================] - 0s 946us/step - loss: 1.8751 - accuracy: 0.7398
Epoch 73/100
250/250 [==============================] - 0s 978us/step - loss: 1.3729 - accuracy: 0.7651
Epoch 74/100
250/250 [==============================] - 0s 978us/step - loss: 2.0987 - accuracy: 0.7327
Epoch 75/100
250/250 [==============================] - 0s 937us/step - loss: 2.9642 - accuracy: 0.7026
Epoch 76/100
250/250 [==============================] - 0s 963us/step - loss: 1.5379 - accuracy: 0.7576
Epoch 77/100
250/250 [==============================] - 0s 951us/step - loss: 3.3370 - accuracy: 0.6983
Epoch 78/100
250/250 [==============================] - 0s 959us/step - loss: 2.0040 - accuracy: 0.7362
Epoch 79/100
250/250 [==============================] - 0s 954us/step - loss: 1.6719 - accuracy: 0.7545
Epoch 80/100

250/250 [==============================] - 0s 937us/step - loss: 1.9644 - accuracy: 0.7347
Epoch 81/100
250/250 [==============================] - 0s 951us/step - loss: 2.0542 - accuracy: 0.7274
Epoch 82/100
250/250 [==============================] - 0s 923us/step - loss: 1.6560 - accuracy: 0.7492
Epoch 83/100
250/250 [==============================] - 0s 904us/step - loss: 2.1893 - accuracy: 0.7317
Epoch 84/100
250/250 [==============================] - 0s 942us/step - loss: 3.5301 - accuracy: 0.7040
Epoch 85/100
250/250 [==============================] - 0s 927us/step - loss: 2.0877 - accuracy: 0.7436
Epoch 86/100
250/250 [==============================] - 0s 931us/step - loss: 2.0929 - accuracy: 0.7300
Epoch 87/100
250/250 [==============================] - 0s 940us/step - loss: 2.3374 - accuracy: 0.7155
Epoch 88/100
250/250 [==============================] - 0s 929us/step - loss: 2.6046 - accuracy: 0.7204
Epoch 89/100
250/250 [==============================] - 0s 941us/step - loss: 2.1714 - accuracy: 0.7298
Epoch 90/100
250/250 [==============================] - 0s 966us/step - loss: 1.8750 - accuracy: 0.7491
Epoch 91/100
250/250 [==============================] - 0s 973us/step - loss: 1.4928 - accuracy: 0.7612
Epoch 92/100
250/250 [==============================] - 0s 937us/step - loss: 1.6407 - accuracy: 0.7552
Epoch 93/100
250/250 [==============================] - 0s 906us/step - loss: 2.5109 - accuracy: 0.7150
Epoch 94/100
250/250 [==============================] - 0s 941us/step - loss: 1.8604 - accuracy: 0.7549
Epoch 95/100
250/250 [==============================] - 0s 959us/step - loss: 3.2610 - accuracy: 0.7092
Epoch 96/100
250/250 [==============================] - 0s 913us/step - loss: 2.0012 - accuracy: 0.7369
Epoch 97/100
250/250 [==============================] - 0s 931us/step - loss: 1.4788 - accuracy: 0.7708
Epoch 98/100
250/250 [==============================] - 0s 949us/step - loss: 2.1868 - accuracy: 0.7317
Epoch 99/100
250/250 [==============================] - 0s 933us/step - loss: 1.8697 - accuracy: 0.7473
Epoch 100/100
250/250 [==============================] - 0s 942us/step - loss: 2.1924 - accuracy: 0.7348

In [15]:
y_test

      satisfaction
9488             0
5183             0
7127             0
107              0
3429             1
...            ...
3526             1
3102             0
7109             0
3846             0
9923             1

[1995 rows x 1 columns]

In [16]:
y_test['Prediction'] = ann.predict(x_test)

In [17]:
y_test

      satisfaction    Prediction
9488             0  4.694297e-08
5183             0  4.703555e-01
7127             0  2.415388e-13
107              0  1.422373e-06
3429             1  1.095003e-05
...            ...           ...
3526             1  6.695434e-05
3102             0  1.717988e-06
7109             0  2.761137e-02
3846             0  8.035637e-13
9923             1  3.921945e-09

[1995 rows x 2 columns]

In [18]:
x_train.head()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus
4584,122671,46,2453,1,1,1,1,3,5,5,...,5,4,4,0,0.0,1,0,0,0,0
5418,20714,56,707,5,5,4,4,5,5,5,...,3,5,5,0,0.0,1,0,0,1,0
1289,121730,62,1475,4,2,2,2,4,3,2,...,2,4,4,0,15.0,1,0,0,0,0
2079,93224,39,1460,4,4,4,3,3,4,3,...,2,3,3,24,16.0,0,1,0,0,0
6349,16562,42,872,4,2,2,2,4,4,4,...,3,5,4,37,53.0,1,0,0,1,0